.icon-grid-list-with-availability:before {
    content: "\e012";
}
.icon-grid-list-with-availability {
    font-family: 'glyphs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
